@font-face {
    font-family: LobsterTwo-Bold;
    src: url(../fonts/LobsterTwo-Bold.otf);
}
@font-face {
    font-family: LobsterTwo-Regular;
    src: url(../fonts/LobsterTwo-Regular.otf);
}
body {
    background-color: gray;
}
p {
    text-shadow: 3px 2px 4px rgb(55, 58, 61);
}
p:first-child {
    font-family: "LobsterTwo-Regular";
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    color: blue;
    letter-spacing: -2px;
}
p+p {
    font-family: "LobsterTwo-Bold";
    text-align: center;
    font-size: 1.4em;
    color:red;
    word-spacing: 0.6em;
}
span+span {
    text-transform: capitalize;
}
span span {
    color: green;
}
span[go] {
    text-decoration: line-through;
}