body {
    background-color: gainsboro;
}
h1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
}
p {
    opacity: 0.4;
}
h2 {
    color: rgb(220, 220, 220); /* Same as gainsboro */
    background-color: rgba(42, 150, 26, 0.8);
}
ul#transparencies>li {
    background-color:rgba(107, 240, 255, 0.4);
}
ol.fetts {
    background-color: rgb(255, 215, 0); /* Same as Gold */
}
blockquote {
    color : rgb(255,0,255); /* Same as Magenta */
}
dt {
    color: rgba(25, 107, 27, 0.671);
}
dd {
    color: hsl(171, 80%, 75%);
}