body {
    background: no-repeat;
    background-image: linear-gradient(rgb(42, 173, 224), rgba(255,0,0,0));
    font-size: 25px;
}
#image {
    background: url("../images/flower.png")
        no-repeat top right;
}