body {
    background-image: url("../images/header.jpeg");
    background-repeat: repeat-y;
    margin-left: 135px;
    margin-right: 135px;
}
h1 {
    margin-top: 70px;
    margin-left: 30px;
}
h2 {
    margin-left: 30px;
}
P {
    margin-left: 30px;
}