body {
  font-family: Verdana,sans-serif;
  font-size: 0.9em;
  display: grid;
  grid-template-areas:
    "header header header header" 
    "nav-left article-section article-section info"
    "footer footer footer footer";
}
aside {
  background-color: red;
  grid-area: info;
  max-height: 500px;
  overflow: auto;
}
header {
  padding: 10px;
  color: white;
  background-color: green;
  grid-area: header;
}
footer {
  padding: 10px;
  color: white;
  background-color: green;
  grid-area: footer;
}
main {
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: grey;
  grid-area: article-section;
  max-height: 500px;
  overflow: auto;
}
section {
  background-color: blue;
}
article {
  margin: 5px;
  padding: 10px;
  color: black;
  background-color: yellow;
}
nav {
  background-color: lightblue;
  grid-area: nav-left;
  width: 80px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 5px;
}