body {
    background: url("../images/flower.png") no-repeat top right, 
        linear-gradient(rgb(42, 173, 224), rgba(255,0,0,0)) no-repeat;
    
    margin-left: 145px;
    margin-right: 145px;
    font-size: 20px;
}