article, table tr td, table {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

article {
    padding: 20px;
    margin: 20px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

.addIngredient {
    width: 3em;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
img.plus {
    cursor: pointer;
}